:root {
    --base-font: "iA Writer Quattro S" !important;
    --code-font: "Jetbrains Mono";
}

body {
    font-family: "iA Writer Quattro S", var(--base-font), sans-serif !important;
}

@font-face {
    font-family: "iA Writer Quattro S";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/ia/iAWriterQuattroS-Regular.woff"), local("woff2"),
        local("woff");
    font-display: swap;
}

code {
    font-family: var(--code-font);
}
